[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/calendar.vim"]
	path = bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tmuxline.vim"]
	path = bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-atom-dark"]
	path = bundle/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git@github.com:junkilee/vimwiki.git
